body{
    width: 800px;
    text-align:center;
    margin:auto;
    padding: auto;
}
.table{
    text-align:center;
}
#form{
    display: none;
}
#buttonContainer{
    margin:auto;
    text-align: center;
}
#listhol{
    text-align:center;
}

button{
    border-radius: 50%;
    background-color: bisque;
    padding: 10px;
    margin: 5px;
}
#pageHeader{
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    text-align:center;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    width: 800px;
    height: 300px;
}